# IDEs
*.iml
.idea/

# Build
dist/
node_modules/

# Lerna
lerna-debug.log

# LiveBundle
.livebundle

# MacOS
.DS_Store

# NYC (code coverage)
.nyc_output/
coverage/

# TypeScript
tsconfig.build.tsbuildinfo

# Yarn
yarn-error.log
