<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="livebundle">
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <activity android:name=".LiveBundleDeepLinkActivity" android:exported="true">
            <intent-filter android:label="@string/livebundle_deeplink_intent">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="livebundle" android:host="packages" />
            </intent-filter>
        </activity>
    </application>
</manifest>
